# Mundo Roberth 0.1 - Variáveis de Ambiente
# Copie este arquivo para .env.local e preencha os valores

NEXT_PUBLIC_SUPABASE_URL=https://umwqxkggzrpwknptwwju.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtd3F4a2dnenJwd2tucHR3d2p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3NzUyNjgsImV4cCI6MjA4ODM1MTI2OH0.XL7OKT0C0OlX76_mQVcHXsAVXj8cq_mkLgSVJzyH0lc
